.sbstyle{
	font-family: 'Marcellus SC', serif;
}


body {
	padding-top: 50px;
	background-color:#f3f3f3;
}

.jumbotron{
	text-align:center;
	background-color:#565656;
	font-family: 'Marcellus SC', serif;
	color:#ffbf00;
	margin-bottom:0px;
}

.ctrlButton{
	text-decoration:none;
	border:none;
	display:block;
	font-family: 'Marcellus SC', serif;
	background-color:#f3f3f3;
}

.homeButton{
	background-color:#565656;
}

.logo-style{
	text-shadow: 2px 2px 8px #000000;
}

.messages-style{
	color:#00c0ff;
	text-shadow: 2px 2px 8px #000000;
	font-size:3em;
}

.main-button:hover{
	color:#ffbf00;
	text-shadow: 2px 2px 8px #000000;
}

.a-button{
	color:#ffbf00;
}

.a-button:hover{
	color:#ffbf00;
	text-shadow: 2px 2px 8px #000000;
}