.sbstyle{
	font-family: 'Marcellus SC', serif;
}


body {
	padding-top: 50px;
}

.jumbotron{
	text-align:center;
	background-color:#d7d3c8;
	font-family: 'Marcellus SC', serif;
	color:#4d4e53;
}

.ctrlButton{
	text-decoration:none;
	border:none;
	display:block;
	font-family: 'Marcellus SC', serif;
}

.pioButton{
	background-color:#c13832;
}