.sbstyle{
	font-family: 'Marcellus SC', serif;
}

.jumbotron{
	text-align:center;
	background-color:#d7d3c8;
	font-family: 'Marcellus SC', serif;
	box-shadow: 10px 10px 5px #888888;
	color:#4d4e53;
}

.ctrlButton{
	text-decoration:none;
	border:none;
	display:block;
}

.pioButton{
	background-color:#c13832;
}