.sbstyle{
	font-family: 'Marcellus SC', serif;
}

.jumbotron{
	text-align:center;
	background-color:#094674;
}

#twit-icon{
	color:#55acee;
}

#git-icon{
	color:#333333;
}

#fb-icon{
	color:#3b5998;
}