<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
        <link href="/public/css/signup.css" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="/public/css/index.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="/controllers/explore.js"></script>
    </head>
    
    <body ng-app="explore" ng-controller="view-polls">
    	<nav class="navbar navbar-default navbar-fixed-top sbstyle">
    	    <a href="https://github.com/justinian336/ikou"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
        	<div class="container-fluid">
        		<div class="navbar-header">
        			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#surveyon-nav" aria-expanded="false">
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button>
        		</div>
        		
        		<div class="collapse navbar-collapse" id="surveyon-nav">
        			<ul class= "nav navbar-nav navbar-right">
        			    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        				<li><a href="/signup"><i class="fa fa-sign-out"></i> Logout</a></li>
        			</ul>
        		</div>
        	</div>
        </nav>
    	
    	<div class="jumbotron sbstyle">
    		<h1 class="text-center messages-style">FCC Dictionary</h1>
    		<div class="row">
		        <div class="col-xs-12">
		            <div class="input-group">
		                <span class="input-group-btn"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currentLang.name}}<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#" ng-repeat="lang in languages" ng-click="setLang(lang)">{{lang.name}}</a></li>
                            </ul></span><input type="text" ng-model="asyncSelected" placeholder="Choose a language and search in English" uib-typeahead="term for terms in getDictio($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
		            </div>
	            </div>
    		</div>
    	</div>
    	
    	<div class="container-fluid">
    	    <div class="row" ng-repeat="poll in polls">
    	        <div class="col-xs-2"></div>
    	        <div class="col-xs-8" >
    	            <a class="btn btn-default ctrlButton" ng-href="/poll/#/{{poll.username}}/{{poll.surveyId}}">{{poll.name}}</a>
    	        </div>
    	        <div class="col-xs-2"></div>
    	    </div>
    	    
    	</div>
    	
    </body>
</html>