
    <body>
        
        <div class="jumbotron sbstyle">
        	<h1>{{currentSurvey.name}}</h1>
        	<a class="btn btn-danger" href="/">My Surveys</a>
        </div>
        
        <div class="text-center" ng-hide="voted==true">
            <form role="form-control">
              <div class="radio" ng-repeat="option in currentSurvey.options">
                <label><input type="radio" name="optradio" ng-model="selectedOption.value" ng-value="$index">{{option.name}}</label>
              </div>
              <div class="btn btn-default" ng-click="vote(selectedOption.value)">Vote!</div>
            </form>
        </div>
        
        <div ng-show="voted">
            <div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
        </div>
        
    </body>
